$color-black: #000;
$color-white: #fff;
$color-contessa: #b16b60;
$color-quicksand: #bc978c;

$font-george-x: 'George X', sans-serif;
$font-suisse-bp: 'Font suisse bp', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'preloader',
  'navigation',
  'content',
  'canvas',
);
