*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  @extend %description-16;

  font-family: $font-suisse-bp;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}