.collections {
  @extend %cover;
  background-color: $color-quicksand;
  color: $color-white;
  overflow: hidden;
}

.collections__wrapper {
  @extend %cover;
}

.collections__titles {
 @extend .home__titles;
}

.collections__titles__label {
  @extend .home__titles__label;
}

.collections__titles__title {
 @extend %title-200;
}

.collections__gallery {
  @extend %cover;
}

.collections__gallery__wrapper {
  @extend %flex-center;
  @include centerer(false, true);
}

.collections__gallery__link {
  display: block;
  margin-right: 4rem;
}

.collections__gallery__media {
  height: 63rem;
  width: 44rem;
  position: relative;
}

.collections__gallery__media__image {
  @extend %cover;
}

.collections__content {
  @extend %cover;

}

.collections__article {
  left: 8rem;
  bottom: 8rem;
  position: absolute;
  opacity: 0;
  max-width: 46rem;

  &--active {
    opacity: 1;
  }
}

.collections__title {
  @extend %title-60
}

.collections__description {
  @extend %description-16;
  max-width: 44rem;
}
